# Dependencies
node_modules/
.pnpm-store/

# Build and Export Outputs
dist/
src/dist/
out/
.slidev/
*.nav.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Tooling Configs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Temporary & Cache Files
.cache/
.temp/
.tmp/
coverage/
